<script setup lang="ts">
import { userInfo } from '@/api/home/home';
import { useStore } from '@/store/index';
import cache from '@/utils/localcache/cache';
const store = useStore();
console.log(store, 'home页面');
const username = store.state.user.userInfo.username;
store.dispatch('user/getUser', {
  t: new Date().getTime(),
});
store.dispatch('user/getNav', {
  t: new Date().getTime(),
});
</script>

<template>
  <el-container class="layout-container-demo">
    <el-aside width="200px">
      <el-scrollbar>
        <el-menu :default-openeds="['0']" :router="$router">
          <el-menu-item
            style="
              background-color: #35b4ed;
              color: #fff;
              font-size: 20px;
              text-align: center;
            "
            >米亚建站后台</el-menu-item
          >
          <el-menu-item index="/home">首页 </el-menu-item>
          <el-sub-menu index="1">
            <template #title>
              <el-icon><message /></el-icon>产品管理
            </template>
            <el-menu-item index="/prod-prodTag">分组管理</el-menu-item>
            <el-menu-item index="/prod-prodList">产品管理</el-menu-item>
            <el-menu-item index="/prod-category">分类管理</el-menu-item>
            <el-menu-item index="/prod-prodComm">评论管理</el-menu-item>
            <el-menu-item index="/prod-spec">规格管理</el-menu-item>
          </el-sub-menu>
          <el-sub-menu index="2">
            <template #title>
              <el-icon><icon-menu /></el-icon>门店管理
            </template>
            <el-menu-item index="/shop-notice">公告管理</el-menu-item>
            <el-menu-item index="/shop-hotSearch">热搜管理</el-menu-item>
            <el-menu-item index="/admin-indexImg">轮播图管理</el-menu-item>
            <el-menu-item index="/shop-transport">运费模板</el-menu-item>
            <el-menu-item index="/shop-pickAddr">自提点管理</el-menu-item>
          </el-sub-menu>
          <el-sub-menu index="3">
            <template #title>
              <el-icon><icon-menu /></el-icon>会员管理
            </template>
            <el-menu-item index="/user-user">会员管理</el-menu-item>
          </el-sub-menu>
          <el-sub-menu index="4">
            <template #title>
              <el-icon><icon-menu /></el-icon>订单管理
            </template>
            <el-menu-item index="/order-order">订单管理</el-menu-item>
          </el-sub-menu>
          <el-sub-menu index="5">
            <template #title>
              <el-icon><icon-menu /></el-icon>系统管理
            </template>
            <el-menu-item index="/sys-area">
              <Edit
                style="width: 1em; height: 1em; margin-right: 8px"
              />地址管理</el-menu-item
            >
            <el-menu-item index="/sys-user"
              ><Share
                style="width: 1em; height: 1em; margin-right: 8px"
              />管理员列表</el-menu-item
            >
            <el-menu-item index="/sys-role"
              ><Delete
                style="width: 1em; height: 1em; margin-right: 8px"
              />角色管理</el-menu-item
            >
            <el-menu-item index="/sys-menu"
              ><Search
                style="width: 1em; height: 1em; margin-right: 8px"
              />菜单管理</el-menu-item
            >
            <el-menu-item index="/sys-schedule"
              ><Search
                style="width: 1em; height: 1em; margin-right: 8px"
              />定时任务</el-menu-item
            >
            <el-menu-item index="/sys-config"
              ><Search style="width: 1em; height: 1em; margin-right: 8px" />
              参数管理
            </el-menu-item>
            <el-menu-item index="/sys-log"
              ><Search style="width: 1em; height: 1em; margin-right: 8px" />
              系统日志
            </el-menu-item>
          </el-sub-menu>
        </el-menu>
      </el-scrollbar>
    </el-aside>

    <el-container>
      <el-header>
        <span></span>
        <span> {{ username }}</span>
      </el-header>
      <el-main>
        <router-view />
      </el-main>
    </el-container>
  </el-container>
</template>

<style scoped>
.layout-container-demo .el-header {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--el-color-primary-light-7);
  color: var(--el-text-color-primary);
}
.layout-container-demo .el-aside {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary-light-8);
}
.layout-container-demo .el-menu {
  border-right: none;
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
</style>
