<script setup lang="ts">
import { reactive, ref } from 'vue';
import type { FormInstance } from 'element-plus';
// import axios from '../../utils/request';
import { uuid } from 'vue-uuid';
import { login } from '@/api/login/login';
import { useStore } from '@/store/index';
import { useRouter } from 'vue-router';
const router = useRouter();
console.log(router, 'router');

let UUID = uuid.v4(); // 通用唯一识别码
const imgUrl = ref('/api/captcha.jpg?uuid=' + UUID); // 验证码的图片

// 获取上下文
// const http = getCurrentInstance();
// console.log(window, 'http');
// console.log(http, 'http');
// 获取验证码
const getCode = () => {
  UUID = uuid.v4();
  imgUrl.value = '/api/captcha.jpg?uuid=' + UUID;
};
const store = useStore();
const ruleFormRef = ref<FormInstance>();

// 验证码的非空验证
const checkAge = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('请输入验证码'));
  }
  callback();
};

// 用户名的非空验证
const validateUser = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('请输入账号'));
  }
  callback();
};
// 密码的非空验证
const validatePass = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('请输入密码'));
    // validatePass;
  }
  callback();
};
// 表单的用户名  密码  验证码
const ruleForm = reactive({
  username: '',
  password: '',
  code: '',
});
// 表单的用户名  密码  验证码的规则
const rules = reactive({
  username: [{ validator: validateUser, trigger: 'blur' }],
  password: [{ validator: validatePass, trigger: 'blur' }],
  code: [{ validator: checkAge, trigger: 'blur' }],
});

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.validate(async (valid) => {
    if (valid) {
      const res = store.dispatch('login/getLogin', {
        credentials: ruleForm.password, // 密码
        imageCode: ruleForm.code, // 验证码
        principal: ruleForm.username, // 账号
        sessionUUID: UUID, // code截取吗
        t: new Date().getTime(), // 时间戳
      });
      res.then(() => {
        router.push({ path: '/home' });
      });
    } else {
      console.log('error submit!');
      return false;
    }
  });
};

// const resetForm = (formEl: FormInstance | undefined) => {
//   if (!formEl) return;
//   formEl.resetFields();
// };
</script>

<template>
  <div id="login">
    <!-- 表单 -->
    <div id="from">
      <div class="logo">
        <img src="../../images/登录logo.png" alt="" />
      </div>
      <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        :rules="rules"
        size="default'"
        class="demo-ruleForm"
      >
        <el-form-item prop="username" size="large">
          <el-input
            v-model="ruleForm.username"
            placeholder="账号"
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item prop="password" size="large">
          <el-input
            v-model="ruleForm.password"
            placeholder="密码"
            type="password"
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item prop="code" size="large">
          <el-input
            v-model="ruleForm.code"
            placeholder="验证码"
            style="width: 60%"
          />
          <img :src="imgUrl" alt="" @click="getCode" />
          <!-- <span v-html="state.codeData"></span> -->
        </el-form-item>
        <el-form-item size="large">
          <el-button
            style="display: flex; width: 100%"
            type="primary"
            @click="submitForm(ruleFormRef)"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
  <!-- 登录背景图片 -->
  <!-- http://www.bonnie.company/2109300032/static/img/login-bg.909c916.png -->
</template>

<style scoped>
#login {
  width: 100%;
  height: 100%;
  background: url('http://www.bonnie.company/2109300032/static/img/login-bg.909c916.png')
    no-repeat;
  display: inline-block;
}
.logo {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.logo img {
  width: 60%;
  height: 50px;
}
#from {
  width: 500px;
  margin: 200px 500px;
}
</style>
